@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
    border:0;
    margin:0;
    box-sizing:border-box;
      overflow: hidden;      
  overflow-x: hidden;       
  overflow-y: auto;         
}
body{
    font-family: "Jost" , serif;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:url(bg.jpg)
    no-repeat center center/cover;       
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding:0 10px;
     box-shadow: 20px white;
}
.todo-app:hover{
    backdrop-filter: blur(10px);
}
.todo-app{
    width:auto;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 900px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
    color:white;
    /* background-color: pink; */
    padding:3rem;
    border-radius: 10%;
    gap:30px;
    /* background: rgba(255,255,255,0.07); */

}
h1{
    font-size: 60px;
}
.input-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#task-input{
    flex: 1;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.5rem;
    color:grey;
  background: radial-gradient(circle at 30% 30%, rgba(255, 0, 0, 0.2), transparent 40%),
              radial-gradient(circle at 70% 70%, rgba(255, 0, 0, 0.15), transparent 50%),
              radial-gradient(circle at 50% 50%, rgba(255, 0, 0, 0.25), rgba(0, 0, 0, 1) 80%);
                            border:2px solid rgb(105, 98, 98);

}
#add-task-btn{
      flex: 1;
    border-radius: 10px;
    font-size: 1.5rem;
       padding: 1rem 2rem;
    color:grey;
  background: radial-gradient(circle at 30% 30%, rgba(255, 0, 0, 0.2), transparent 40%),
              radial-gradient(circle at 70% 70%, rgba(255, 0, 0, 0.15), transparent 50%),
              radial-gradient(circle at 50% 50%, rgba(255, 0, 0, 0.25), rgba(0, 0, 0, 1) 80%); 
              border:2px solid rgb(105, 98, 98);
}
 .todos-container{
    display:flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
#task-list {
  width: 100%;
  padding-left: 20px; 
  list-style-type: disc;
} 
#task-list li{
   display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
       flex: 1;
    border-radius: 20px;
    font-size: 1.5rem;
       padding: 1rem 1rem;
    color:white;
  background: radial-gradient(circle at 30% 30%, rgba(255, 0, 0, 0.2), transparent 40%),
              radial-gradient(circle at 70% 70%, rgba(255, 0, 0, 0.15), transparent 50%),
              radial-gradient(circle at 50% 50%, rgba(255, 0, 0, 0.25), rgba(0, 0, 0, 1) 80%); 
              border:2px solid rgb(232, 215, 215);

}
#task-list li .checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid grey;
  background: transparent;
  border-radius: 50%;
  appearance: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

#task-list li .checkbox:checked {
  background-color: #6fff7b;
   text-decoration: line-through;
  color: grey; 
}
.checkbox:checked + span {
  text-decoration: line-through;
  color: grey; 
}


#task-list li .checkbox:checked::before {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
}
#task-list li span{
    flex:1;
    margin-left: 10px;
    word-wrap: break-word;
}
button{
     flex: 1;
    border-radius: 20px;
    font-size: 1.5rem;
    padding:0.5rem;
    color:white;
  background: radial-gradient(circle at 30% 30%, rgba(255, 0, 0, 0.2), transparent 40%),
              radial-gradient(circle at 70% 70%, rgba(255, 0, 0, 0.15), transparent 50%),
              radial-gradient(circle at 50% 50%, rgba(255, 0, 0, 0.25), rgba(0, 0, 0, 1) 80%); 
              border:2px solid rgb(232, 215, 215); 
              cursor: pointer;
             gap:2rem;
}
button:hover{
  box-shadow: 100px 100px 100px  50% white;
  background-color: #661df8;
}
.edit-btn{
  background-color: yellow;
}
.delete-btn{
  background-color: #f81d1d;
}